  <div class="container mt-3 add-collection">
{{#each data.results}}
    <div class="row">
      <div
        class="col-sm col-md col-lg col-xl col-xxl pl-0"
        style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.9) 150%), url(IMG/wham.jpg); 
        background-size: cover; 
        background-position: center;"
      >
        <div class="media">
          <img
            class="align-self-center mr-3"
            src={{image}}
            alt="Generic placeholder image"
          />
          <div
            class="media-body align-self-center font-weight-light"
            style="font-size: 1.2rem;"
          >
            <div class="border-top border-bottom">

              <h5 class="mt-0" id="comic-image">{{title}}</h5>
              <p id="comic-title">{{description}}</p>
              <p id="comic-description">{{id}}</p>
            </div>

            <div class="border-top border-bottom">
              {{#each prices}}
                <p class="mb-0" id="comic-price">{{price}}</p>
              {{/each}}
            </div>
            <div class="border-top border-bottom">
              <p class="mb-0" id="comic-url">www.website.com</p>
            </div>
            {{#if loggedIn}}
              <div class="col text-center mt-4">
                <button type="submit" class="btn btn-primary">Add to Collection</button>
                <button type="submit" class="btn btn-primary">Add to Wish List</button>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<div class="container mt-3 add-collection">
  <div class="row">
    <div
      class="col-sm col-md col-lg col-xl col-xxl pl-0"
      style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.9) 150%), url(IMG/wham.jpg); 
        background-size: cover; 
        background-position: center;"
    >
      <div class="media">
        <img
          class="align-self-center mr-3"
          {{! src="IMG/sidebar-placeholder.png" }}
          alt="Generic placeholder image"
        />
        <div
          class="media-body align-self-center font-weight-light"
          style="font-size: 1.2rem;"
        >
          <div class="border-top border-bottom">

            <h5 class="mt-0" id="comic-image">Superman Volume 12</h5>
            <p id="comic-title">Crass</p>
            <p id="comic-description">Cras sit.</p>
          </div>

          <div class="border-top border-bottom">
            <p class="mb-0" id="comic-price">10.99</p>
          </div>
          <div class="border-top border-bottom">
            <p class="mb-0" id="comic-url">www.website.com</p>
          </div>
          {{#if loggedIn}}
            <div class="col text-center mt-4">
              <button type="submit" class="btn btn-primary">Add to Collection</button>
              <button type="submit" class="btn btn-primary">Add to Wish List</button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
--}}